<!doctype html>


<html>
<head>
  <meta charset="UTF-8">
  <title>Growlers To Go</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">

</head>

<body>

<header>
</header>

<div id="tag_line">
  <%= image_tag('index_image_2.png') %>
</div>

</body>
</html>



