<!doctype html>


<html>
<head>

</head>

<header>
</header>


<body>

<div class="featured-breweries">
  <div class="container">
    <h2>Featured Breweries</h2>
    <h2>Growlers to Go delivers fresh beer directly from local breweries to your front door.</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://beerindenver.com/wp-content/uploads/2013/02/Boulder-Beer.jpg">
        </div>
        <div class="thumbnail">
          <img src="http://upslopebrewing.com/wp-content/uploads/2014/03/upslope-logo-1-red.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://upload.wikimedia.org/wikipedia/en/8/8b/Avery_Brewing_Company_logo.jpg">
        </div>
        <div class="thumbnail">
          <img src="http://www.firstbiteboulder.com/uploaded-files/logos/Fate-Brewing-Co-Full%20Logo_121212-075518.jpg">
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://theroamingpint.com/wp-content/uploads/2011/09/mountain_sun_logo_000.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Membership</h3>
        <p>Monthly memberships start at only $79</p>
        <p><a href="#">Click here to join!</a></p>
      </div>
      <div class="col-md-4">
        <h3>TBD</h3>
        <p>Something more to come here</p>
        <p><a href="#">Learn more about hosting</a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



