
/*
	STYLE.CSS:
	One stylesheet to rule them all.

	selector { property:value }

*/



/* ----- =structure ----- */


body {
  background-color: white;
  background-image: url('neighborhood.JPG');
  background-size: cover;
}

.style_image {
  height: 20%;
  width: 20%;
  margin-left: 40%;
  margin-top: 30%;
}

#header_container,
#nav_container,
#content_container,
#footer_container {
  margin: auto;
  width: 960px;
}

#header_container img {
  height: 8em;
  width: 8em;
}

nav {
  background-image: url('beer.png');
  background-size: 10em 9em;
  background-repeat: none;
  overflow: hidden;
}

#content {
  background-color: white;
}

#tag_line img {
  margin-top: 5%;
  margin-left: 25%;
  height: 30em;
  width: 40em;
  opacity: .8;
}
footer {
  background-color: orange;
}



/* ----- =columns ----- */

.one_half {width:460px;}
.one_third {width:300px;}
.two_third {width:620px;}
.one_fourth {width:220px;}
.three_fourth {width:700px;}
.full_column {width:940px;}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .full_column {
  position:relative;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  float:left;
}

.resetColumnSet {clear:both;}

/* ----- =menu (Primary Nav) ----- */


#menu {
  float: right; /* or float: left */
  margin: 0 10px 0 0;
}

#menu li {
  float: left;
  list-style: none;
}

#menu li a {
  font-size: 120%;
  font-weight: bold;
  color: black;
  padding: 17px 25px 15px 25px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  color: black;
  background-color: #3b2c2c;
}

/*Borders between each button */
#menu li+li {
  border-left: 1px solid #000;
}

/*Borders on both sides */
#menu li:first-child a {
  border-left: 1px solid #000;
}
#menu li:last-child a {
  border-right: 1px solid #000;
}

.authentication_form {
  min-width: 300px;
  max-width: 500px;
  padding: 3em;
  margin: 0 auto;
  margin-top: 8%;
  border-radius: 5px;
  background-color: darkmagenta;
  border: 2px solid #803D44;
}

.authentication_form h2 {
  margin-top: 0;
}
.authentication_form label {
  display: block;
  margin-top: 1em;
  margin-bottom: .3em;
}

.authentication_form input {
  padding: .4em;
  width: 100%;
  display: block;
  border-radius: 5px;
  border-color: #FFF0CF;
  font-size: 20px;
}

.authentication_form textarea {
  font-size: 20px;
  width: 100%;
}

.authentication_form input[type="submit"] {
  padding: .3em .6em;
  width: 8em;
  margin-top: 1.2em;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.content_container {
  width: 70%;
  background-color: ghostwhite;
  margin-left: 10%;
  opacity: 0.9;
}

.product_container {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2em;
  background-color: ghostwhite;
  width: auto;
}

.product_container a:first-child {
  font-weight: bold;
}
.product_description {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2em;
  line-height: 2em;
  margin-left: 20px;
}

.product_description li {
  list-style-type: none;
  padding: 1em;
  clear: both;
  overflow: hidden;
}





.product_picture_small {
  display: inline-block;
  margin: .5em;
  width: 200px;
  text-align: right;
}

.product_picture_small img {
  height: 160px;
  border:1px solid #021a40;
  background-color: white;
}

.product_picture_large {
  display: inline-block;
  margin: .5em;
  width: 250px;
  text-align: right;
}

.product_picture_large img {
  height: 260px;
  border:1px solid #021a40;
}


